.navigation{
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
}
.folder{
  display: flex;
  align-items: center;
}
.icons__folder{
  width: 13px;
  height: 13px;
  padding-right: 7px;
}